<h1>Welcome to your dashborad</h1>
<p>Find me in app/views/dashbox/index.html.erb</p>
<%= link_to "facility", facilities_path %>
<%= link_to "brochure", brochures_path %>
<%= link_to "brochurelog", brochurelogs_path %>
<%= link_to "referral", referrals_path %>
<%= link_to "event", events_path %>
<%= link_to "referrallog", referrallogs_path %>
<%= link_to "Event type", eventtypes_path %>
<%= link_to "Program", programs_path %>
<%= link_to "Event log", eventlogs_path %>
<%= link_to "Visitor", visitors_path %>


