<%= form_for(@eventlog) do |f| %>
  <% if @eventlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventlog.errors.count, "error") %> prohibited this eventlog from being saved:</h2>

      <ul>
      <% @eventlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label "Event" %>
  	<%= collection_select(:eventlog , :event_id, Event.all , :id, :title) %>
  </div>
  
  <div class="field">

	<%= f.label "Visitor" %>
  	<%= collection_select(:eventlog , :visitor_id, Visitor.all , :id, :fname) %>
  </div>
  
  
  
  <div class="actions">
    <%= f.submit "Create Event Record"%>
  </div>
<% end %>
