<h1>Listing eventlogs</h1>

<%= form_tag eventlogs_path, :method => 'get' do %>
      <p>
		<th>Search</th>
		<%= text_field_tag :search, params[:search] %><br/>
        <%= submit_tag "search", :name => nil %><br/>
      </p>
<% end %>

<table>
  <tr>
    <th>Event</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventlogs.each do |eventlog| %>
  <tr>
    <td><%= eventlog.event.title %></td>
    <td><%= eventlog.visitor.fname %></td>
    <td><%= link_to 'Show', eventlog %></td>
    <td><%= link_to 'Edit', edit_eventlog_path(eventlog) %></td>
    <td><%= link_to 'Destroy', eventlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'approve', approve_eventlog_path(eventlog)%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eventlog', new_eventlog_path %>
<p>
  Download:
 <%= link_to "CSV", eventlogs_path(:params => params, format: "csv") %>
  <%= link_to "Excel", eventlogs_path(:params => params, format: "xls") %>
</p>
