<h1>Listing eventlogs</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventlogs.each do |eventlog| %>
  <tr>
    <td><%= eventlog.event.title %></td>
    <td><%= eventlog.person.name %></td>
    <td><%= link_to 'Show', eventlog %></td>
    <td><%= link_to 'Edit', edit_eventlog_path(eventlog) %></td>
    <td><%= link_to 'Destroy', eventlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eventlog', new_eventlog_path %>
