<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @eventlog.event.title %>
</p>

<p>
  <b>Visitor:</b>
  <%= @eventlog.visitor.fullname %>
</p>

<p>
  <b>Date:</b>
  <%= @eventlog.event.date %>
</p>

<%= link_to 'Edit', edit_eventlog_path(@eventlog) %> |
<%= link_to 'Back', eventlogs_path %>
