<%= form_for(@visitor) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lastName %>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :Country %>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :"husband parent" %>
    <%= f.text_field :husband %>
  </div>
  <div class="field">
    <%= f.label :"How did you here about our program" %>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :"When did you first start attending programs at NFRP?" %>
    <%= f.text_field :ftime %>
  </div>
  
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>