<h1>Visitors</h1>

 <%= form_tag visitors_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %><br/>
        <%= submit_tag "search", :name => nil %><br/>
      </p>
<% end %>

<%= link_to 'New Visitor', new_visitor_path %>
<p>
  Download:
 <%= link_to "CSV", visitors_path(:params => params, format: "csv") %>
  <%= link_to "Excel", visitors_path(:params => params, format: "xls") %>
</p>
<p> <%= @visitors.count %> Records Found </p>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Language</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Country</th>
	<th>Postal Code</th>
	<th>Date First Attended</th>
	<th>Status</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @visitors.each do |visitor| %>
  <tr>
    <td><%= visitor.fname %></td>
    <td><%= visitor.lname %></td>
    <td><%= visitor.language %></td>
    <td><%= visitor.email %></td>
    <td><%= visitor.phone %></td>
	<td><%= visitor.country %></td>
	<td><%= visitor.postcode %></td>
	<td><%= visitor.ftime %></td>
	<td><%= visitor.status %></td>
    <td><%= link_to 'Show', visitor %></td>
    <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
    <td><%= link_to 'Remove', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'Approve', approve_visitor_path(visitor)%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visitor', new_visitor_path %>
<p>
  Download:
 <%= link_to "CSV", visitors_path(:params => params, format: "csv") %>
  <%= link_to "Excel", visitors_path(:params => params, format: "xls") %>
</p>
