<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @visitor.fname %>
</p>

<p>
  <b>Last name:</b>
  <%= @visitor.lname %>
</p>

<p>
  <b>Language:</b>
  <%= @visitor.language %>
</p>

<p>
  <b>Email:</b>
  <%= @visitor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @visitor.phone %>
</p>

<p>
  <b>Country:</b>
  <%= @visitor.country %>
</p>
<p>
  <b>Postcode:</b>
  <%= @visitor.postcode %>
</p>
<p>
  <b>How did you heard about our program :</b>
  <%= @visitor.notes %>
</p>
<p>
  <b>When did you first start attending programs at NFRP?:</b>
  <%= @visitor.ftime %>
</p>


<h2>Children</h2>
<%= render @visitor.children %>

<h2>Add a Child:</h2>
<%= render "children/form" %>

<h2>Contact</h2>
<%= render @visitor.econtacts %>

<h2>Add a Contact:</h2>
<%= render "econtacts/form" %>


<%= link_to 'Edit', edit_visitor_path(@visitor) %>
<%= link_to 'Finish', visitors_path %>
