<h3>Search</h3>
<%= form_for @search, :url => brochurelogs_path, :class => "form-horizontal", :html => {:method => :get} do |f| %>
	<div class="form-inputs row">
		<%= render :partial => 'shared/search/dropdown', :locals => { :f => f, :object => Brochure } %>	
		<%= render :partial => 'shared/search/dropdown', :locals => { :f => f, :object => Facility } %>	
		<%= render :partial => 'shared/search/status', :locals => { :f => f } %>	
	</div>	
	<div class="form-inputs row">
		<%= render :partial => 'shared/search/date', :locals => { :f => f } %>
		<%= render :partial => 'shared/search/count', :locals => { :f => f, :attr_name => 'count' } %>
	</div>
	</br>
	<%= f.submit %>
<% end %>