<h1>Brochure Records</h1>

<%= form_tag brochurelogs_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %><br/>
        <%= submit_tag "search", :name => nil %><br/>
      </p>
<% end %>

<%= link_to 'New Brochure Record', new_brochurelog_path %>
<p>
  Download:
 <%= link_to "CSV", brochurelogs_path(:params => params, format: "csv") %>
  <%= link_to "Excel", brochurelogs_path(:params => params, format: "xls") %>
</p>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Facility</th>
    <th>Brochure</th>
    	<th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brochurelogs.each do |brochurelog| %>
  <tr>
    <td><%= brochurelog.date %></td>
    <td><%= brochurelog.count %></td>
    <td><%= brochurelog.facility.name %></td>
    <td><%= brochurelog.brochure.name %></td>
    	<td><%= brochurelog.status %></td>
    <td><%= link_to 'Show', brochurelog %></td>
    <td><%= link_to 'Edit', edit_brochurelog_path(brochurelog) %></td>
    <td><%= link_to 'Remove', brochurelog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'Approve', approve_brochurelog_path(brochurelog)%></td>
  </tr>
<% end %>
</table>

<br />

