<h1>Programs</h1>
<%= form_tag programs_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %><br/>
        <%= submit_tag "search", :name => nil %><br/>
      </p>
<% end %>

<%= link_to 'New Program', new_program_path %>
<p>
  Download:
 <%= link_to "CSV", programs_path(:params => params, format: "csv") %>
  <%= link_to "Excel", programs_path(:params => params, format: "xls") %>
</p>

<table class="table">
  <tr>
    <th>Name</th>
    	<th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= program.name %></td>
    	<td><%= program.status %></td>
    <td><%= link_to 'Show', program %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= link_to 'Remove', program, method: :delete, data: { confirm: 'Are you sure?' } %></td
	<td><%= link_to 'Approve', approve_program_path(program)%></td>
  </tr>
<% end %>
</table>

<br />