<h2>Register User</h2>
 
<%= form_for(@user) do |f| %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>
 
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
 
  <p><%= f.label "Re-enter Password" %></p>
  <p><%= f.password_field :password_confirmation %></p>
	
  <div class="field">
	<%= f.label "Roles" %>
  	<%= collection_select(:user , :role_id, Role.all , :id, :name) %>
  </div>
  
  <p><%= f.submit %></p>
<% end %>