<h1>Brochures</h1>
<%= form_tag brochures_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %><br/>
        <%= submit_tag "search", :name => nil %><br/>
      </p>
<% end %>

<%= link_to 'New Brochure', new_brochure_path %>
<p>
  Download:
 <%= link_to "CSV", brochures_path(:params => params, format: "csv") %>
  <%= link_to "Excel", brochures_path(:params => params, format: "xls") %>
</p>

<table class="table">
  <tr>
    <th>Name</th>
	<th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brochures.each do |brochure| %>
  <tr>
    <td><%= brochure.name %></td>
	<td><%= brochure.status %></td>
    <td><%= link_to 'Show', brochure %></td>
    <td><%= link_to 'Edit', edit_brochure_path(brochure) %></td>
	 <td><%= link_to 'destroy', brochure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'approve', approve_brochure_path(brochure)%></td>
	
  </tr>
<% end %>
</table>

<br />

