<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "facility", facilities_path %>
<%= link_to "brochure", brochures_path %>
<%= link_to "brochurelog", brochurelogs_path %>
<%= link_to "referral", referrals_path %>
<%= link_to "referrallog", referrallogs_path %>