<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Program:</b>
  <%= @event.program.name %>
</p>

<p>
  <b>Eventtype:</b>
  <%= @event.eventtype.name %>
</p>

<p>
  <b>Facility:</b>
  <%= @event.facility.name %>
</p>

<p>
  <b>Duration (hrs):</b>
  <%= @event.duration %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
