<%= form_for(@referrallog) do |f| %>
  <% if @referrallog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referrallog.errors.count, "error") %> prohibited this referrallog from being saved:</h2>

      <ul>
      <% @referrallog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="field">
	<%= f.label "Facility" %><br />
  	<%= collection_select(:referrallog , :facility_id, Facility.all , :id, :name) %>
  </div>
  <div class="field">
	<%= f.label "Referral" %><br />
  	<%= collection_select(:referrallog , :referral_id, Referral.all , :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
