<ul class="nav">
              <li><%= link_to "Visitors", visitors_path %></li>
              <li><%= link_to "Facility", facilities_path %></li>
              
              
              <li><%= link_to "Event", events_path %></li>
              <li><%= link_to "Event Type", eventtypes_path %></li>
              <li><%= link_to "Event Log", eventlogs_path %></li>
              
              <li><%= link_to "Program", programs_path %></li>
              
              <li><%= link_to "Brochure", brochures_path %></li>
              <li><%= link_to "Brochurelog", brochurelogs_path %></li>
              
              <li><%= link_to "Referral", referrals_path %></li>
              <li><%= link_to "Referral Log", referrallogs_path %></li>
              
            
</ul>