<!DOCTYPE html>
<html>
<head>
  <title>Appbeta13</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 
 
 
 
 

</body>
</html>
