<!DOCTYPE html>
<html>
<head>
  <title>Options</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style>
			body {
				padding-top: 60px;
			}
			.hero-unit{
				height:300px;
			}	
			.carousel{
				width:500px;
				float:right;
			}	
		</style>
  
  
  <script>
// Load this when the DOM is ready
$(function(){
  // You used .myCarousel here. 
  // That's the class selector not the id selector,
  // which is #myCarousel
  $('#myCarousel').carousel();
});
</script>
  
</head>
<body>

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Options</a>
        
          <div id="staff_nav" class="navbar-form pull-right">
  			<div class="btn btn-primary">
  			<% if staff_signed_in? %>
   				Signed in as <%= current_staff.email %>. Not you?
    			<%= link_to "Sign Out", destroy_staff_session_path, :method => :delete %>
  				<% else %>
   				<%= link_to "Register", new_staff_registration_path %> or <%= link_to "Sign In", new_staff_session_path %>
  				<% end %>
  			 </div>
			</div>
			
          <br>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Visitors", visitors_path %></li>
              <li><%= link_to "Facility", facilities_path %></li>
              
              
              <li><%= link_to "Event", events_path %></li>
              <li><%= link_to "Event Type", eventtypes_path %></li>
              <li><%= link_to "Event Log", eventlogs_path %></li>
              
              <li><%= link_to "Program", programs_path %></li>
              
              <li><%= link_to "Brochure", brochures_path %></li>
              <li><%= link_to "Brochurelog", brochurelogs_path %></li>
              
              <li><%= link_to "Referral", referrals_path %></li>
              <li><%= link_to "Referral Log", referrallogs_path %></li>
              
            
            </ul>
            
          </div>
        </div>
      </div>
      
     	<div class="container">
     		
     		<br>
     		
     		<% flash.each do |name, msg| %>
  			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>

			<%= yield %>
 			
 				
      	</div>
      	
    </div>
  </div>

</body>
</html>
